export default `
	
  <section class="d-flex d-lg-flex align-items-center">
		<div class="container-md d-flex flex-column">
			 <h2 class="fw-bold text-center">FAQ</h2>
			 <div class="align-items-center justify-content-center row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xl-3 row-cols-xxl-3">
				  
				  <div class="col">
						<div class="card-container grow text-center" data-bs-toggle="modal" data-bs-target="#FAQ1Modal">
							<i class="fas fa-basketball-ball card-icon"></i>
							 <div class="card-outer">
								  <div class="text-center card-inner">
										<h4 class="card-header">Tell me about the mint</h4>
										<button type="button" class="btn btn-light">?</button>										
								  </div>
							 </div>
						</div>
				  </div>
				  <div class="col">
						<div class="text-center card-container grow" data-bs-toggle="modal" data-bs-target="#FAQ2Modal"><i class="fas fa-basketball-ball card-icon"></i>
							 <div class="card-outer">
								  <div class="text-center card-inner">
										<h4 class="card-header">Show me the prizes</h4>
										<button type="button" class="btn btn-light">?</button>										
								  </div>
							 </div>
						</div>
				  </div>
				  <div class="col">
						<div class="text-center card-container grow" data-bs-toggle="modal" data-bs-target="#FAQ3Modal"><i class="fas fa-basketball-ball card-icon"></i>
							 <div class="card-outer">
								  <div class="text-center card-inner">
										<h4 class="card-header">What about these free games I can enter</h4>
										<button type="button" class="btn btn-light">?</button>										
								  </div>
							 </div>
						</div>
				  </div>
				  <div class="col">
						  <div class="text-center card-container grow" data-bs-toggle="modal" data-bs-target="#FAQ4Modal"><i class="fas fa-basketball-ball card-icon"></i>
								<div class="card-outer">
									 <div class="text-center card-inner">
										  <h4 class="card-header">Top Shot Utility? Tell me more...</h4>
										  <button type="button" class="btn btn-light">?</button>										
									 </div>
								</div>
						  </div>
					 </div>
					 
					<div class="col">
						  <div class="text-center card-container grow" data-bs-toggle="modal" data-bs-target="#FAQ5Modal"><i class="fas fa-basketball-ball card-icon"></i>
								<div class="card-outer">
									 <div class="text-center card-inner">
										  <h4 class="card-header">Why was In the Game created?</h4>
										  <button type="button" class="btn btn-light">?</button>										
									 </div>
								</div>
						  </div>
					 </div>
					 
			</div>
		</div>

		<!-- FAQ1 Modal -->
		<div class="modal fade" id="FAQ1Modal" tabindex="-1" aria-labelledby="FAQ1Modal" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
			 <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title">5000 Genesis Memberships</h5>
				  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				
				<div class="modal-body">
				  
				  <ul class="list-group">
					  <li class="list-group-item">0.075eth each</li>
					  <li class="list-group-item">Minting to start in early April</li>
					  <li class="list-group-item">Instant utility once all sold</li>
					  <li class="list-group-item">Prize Pool of over $350K*</li>
					  <br />
					  <p>*correct at time of publishing, prize pool may fluctuate prior to mint due to Eth/USD exchange rate</p>
				  </ul>

				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			 </div>
		  </div>
		</div>
		
		<!-- FAQ 2 Modal -->
		<div class="modal fade" id="FAQ2Modal" tabindex="-1" aria-labelledby="FAQ2Modal" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
			 <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title">Thousands in Cash Every Day</h5>
				  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				
				<div class="modal-body">
				  
				  <ul class="list-group">
					  <li class="list-group-item">NBA memorabilia</li>
					  <li class="list-group-item">Play Off tickets</li>
					  <li class="list-group-item">Rare Top Shot moments</li>
				  </ul>
		
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			 </div>
		  </div>
		</div>

		<!-- FAQ 3 Modal -->
		<div class="modal fade" id="FAQ3Modal" tabindex="-1" aria-labelledby="FAQ3Modal" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
			 <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title">ITG Hosts 3 daily games, which are always free to enter</h5>
				  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				
				<div class="modal-body">
				  
				  <ul class="list-group">
					  <li class="list-group-item">These will run every day</li>
					  <li class="list-group-item"><strong>In The Game 1 – </strong>Top Shot moment related challenges - think Top Shot flash challenges but in reverse. You essentially make a showcase before the games predicting which players will lead the day’s chosen category. You then submit moments from your own collection for who you think will lead the chosen category.</li>
					  <li class="list-group-item"><strong>In The Game 2 - </strong> NBA daily predictions on outcomes of games, player performance and more</li>
					  <li class="list-group-item"><strong>In The Game 3 – </strong>Correctly predict the total score across all NBA games played on that day to win the rolling Jackpot</li>
				  </ul>
		
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			 </div>
		  </div>
		</div>
		
		<!-- FAQ 4 Modal -->
		<div class="modal fade" id="FAQ4Modal" tabindex="-1" aria-labelledby="FAQ4Modal" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
			 <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title">Use your own Top Shot moments to enter our games</h5>
				  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				
				<div class="modal-body">
				  
				  <ul class="list-group">
					  <li class="list-group-item">These will run every day</li>
					  <li class="list-group-item">No additional purchase required - ever</li>
					  <li class="list-group-item">We will run daily Top Shot games giving away thousands in cash and other prizes</li>
				  </ul>
		
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			 </div>
		  </div>
		</div>

		<!-- FAQ 5 Modal -->
		<div class="modal fade" id="FAQ5Modal" tabindex="-1" aria-labelledby="FAQ5Modal" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
			 <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title">In The Game was created with one thing in mind: to give real life utility to Top Shot collectors!</h5>
				  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				
				<div class="modal-body">
				  
				  <ul class="list-group">
					  <li class="list-group-item">In the Game provides collectors with a chance to win cash and other cool prizes without having to purchase any more moments</li>
					  <li class="list-group-item">In the Game was created by Top Shot collectors for Top Shot collectors</li>
				  </ul>
		
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			 </div>
		  </div>
		</div>
`;