export default `
	
  <footer class='footer-dark'>
	 <div class='container'>
		<div class='row'>
		  <div class='col-sm-6 col-md-3 item'>
			 <h3 class='footer-head'>About</h3>
			 <ul>
				<li>
				  <a href='#'>About</a>
				</li>
				<li>
				  <a href='#'>Team</a>
				</li>
				<li>
				  <a href='#'>Terms And Conditions</a>
				</li>
			 </ul>
		  </div>
		  <div class='col-md-9 item text'>
			 <h3 class='footer-head'>In The Game</h3>
			 <p>
				Using a crowd sourced prize pool, In the Game provides members with a chance to win thousands of dollars
				worth of prizes each day by predicting the outcome of various sports results. In the Game also provides
				exclusive access to daily Top Shot challenges, rewarding collectors with cash, NFTs and high-end Top
				Shot moments.
			 </p>
		  </div>
		  <div class='col item social'>
			 <a class='social-icons' href='#'>
				<i class='icon ion-social-facebook'></i>
			 </a>
			 <a class='social-icons' href='https://twitter.com/InTheGameNFT'>
				<i class='icon ion-social-twitter'></i>
			 </a>
			 <a class='social-icons' href='#'>
				<i class='icon ion-social-snapchat'></i>
			 </a>
			 <a class='social-icons' href='#'>
				<i class='icon ion-social-instagram'></i>
			 </a>
		  </div>
		</div>
		<p class='copyright'>In The Game © 2022</p>
	 </div>
  </footer>
`;