export default `

<div class="d-flex align-content-center" data-bss-parallax-bg="true" id="intro-section" style="background-image: url(assets/img/BG3.svg);background-position: center;background-size: cover;background-repeat: no-repeat;">
	
	<div class="container">
		<h1 class="h1 text-lg-center">Team</h1>
		
		<div class="team-profiles justify-content-between d-flex flex-wrap">
			
			<div class="col mb-3 p-2 grow"><!-- PROFILE START -->
				<div class="profile-card">
					<div class="card-body">
						<div class="text-center"><img class="rounded-circle avatar" src="../assets/img/profiles/rich.jpg" alt="Rich" />
							<div class="mt-3">
								<h4>Rich</h4>
								<h6 class="text-secondary mb-1">Co-founder</h6>
								<p>Rich has worked in the IT industry for the last 12 years and his love of all things NBA led him to Top Shot in early 2021. From there he immersed himself in the NFT space and has never looked back. Rich is a co-founder of In the Game.</p>
								<a href="https://twitter.com/sunkistnsudafed" target="_blank"><span class="text-secondary"><i class="fab fa-twitter twitter-btn"></i> @sunkistnsudafed</span></a>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- PROFILE END -->

			<div class="col mb-3 p-2 grow"><!-- PROFILE START -->
				<div class="profile-card">
					<div class="card-body">
						<div class="text-center"><img class="rounded-circle avatar" src="../assets/img/profiles/luke-humblebeast.jpg" alt="Luke" />
							<div class="mt-3">
								<h4>Luke</h4>
								<h6 class="text-secondary mb-1">Co-founder</h6>
								<p>Luke left the healthcare field in 2021 to work full time in NFTs and the Metaverse. He has enjoyed the innovative avenues this has led him down and is excited for what lies ahead. Luke intends to give back to a community that has supported him - to deliver quality and a reliable product. Co founder of In the Game and known as the most humblest beast.</p>
								<a href="https://twitter.com/humblebeast" target="_blank"><span class="text-secondary"><i class="fab fa-twitter twitter-btn"></i> @humblebeast</span></a>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- PROFILE END -->
			
			<div class="col mb-3 p-2 grow"><!-- PROFILE START -->
				<div class="profile-card">
					<div class="card-body">
						<div class="text-center"><img class="rounded-circle avatar" src="../assets/img/profiles/yop.jpg" alt="Yop" />
							<div class="mt-3">
								<h4>Yop</h4>
								<h6 class="text-secondary mb-1">Lead Developer</h6>
								<p>Yop has been leveraging endless possibilities in the IT industry, now leaning into the Web3 space, making things possible. Yop is the lead dev of In the Game.</p>
								<a href="https://twitter.com/YopMabini" target="_blank"><span class="text-secondary"><i class="fab fa-twitter twitter-btn"></i> @YopMabini</span></a>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- PROFILE END -->
			
		</div>

		<div class="team-profiles justify-content-between d-flex flex-wrap">
			
			<div class="col mb-3 p-2 grow"><!-- PROFILE START -->
				<div class="profile-card">
					<div class="card-body">
						<div class="text-center"><img class="rounded-circle avatar" src="../assets/img/profiles/rick.png" alt="Rick" />
							<div class="mt-3">
								<h4>Rick</h4>
								<h6 class="text-secondary mb-1">Front End Web Developer</h6>
								<p>Front end web developer with 20 years experience building websites and supporting a wide range of business and charities in IT. He runs a small recording studio, plays guitar with the band Burning Codes and has been known to play the occasional hand of poker.</p>
								<a href="https://twitter.com/rickblackdog" target="_blank"><span class="text-secondary"><i class="fab fa-twitter twitter-btn"></i> @rickblackdog</span></a>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- PROFILE END -->
			
			<div class="col mb-3 p-2 grow"><!-- PROFILE START -->
				<div class="profile-card">
					<div class="card-body">
						<div class="text-center"><img class="rounded-circle avatar" src="../assets/img/profiles/big-N8IVE.jpg" alt="Rick" />
							<div class="mt-3">
								<h4>Branden</h4>
								<h6 class="text-secondary mb-1">Lead Artist &amp; Graphic Designer</h6>
								<p>Branden quit his 9-5 at the end of 2021 to focus on Web3, building communities and getting back to his true passion of making art. He started in this space as a Graphic Designer for Top Shot communities then started his own NFT project <a href="https://twitter.com/TheGr8estOnFlow" target="_blank"><span class="text-secondary">@TheGr8estOnFlow</span></a>. Now he is the Artist and Graphic Designer for In the Game!</p>
								<a href="https://twitter.com/BigN8ive" target="_blank"><span class="text-secondary"><i class="fab fa-twitter twitter-btn"></i> @BigN8ive</span></a>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- PROFILE END -->
			
		</div>
	</div>
</div>
`;