export default `

<div class="d-flex align-content-center" data-bss-parallax-bg="true" id="intro-section" style="background-image: url(assets/img/BG3.svg);background-position: center;background-size: cover;background-repeat: no-repeat;">
	<div class="container lh-lg">
		 <h1 class="h1 text-lg-center">Terms</h1>
		 <p class="lh-lg">Paragraph Text Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu dolor, euismod ac lacus vel, tincidunt mollis libero. Vestibulum mattis ullamcorper tincidunt. Quisque gravida suscipit egestas. Donec eget condimentum libero. Nunc auctor ex porta, iaculis turpis non, luctus elit. Nulla convallis efficitur consequat. Donec eu massa magna. Sed quis vestibulum lorem.</p>

`;