export default `

<div class="d-flex align-content-center">
	<main>
		<div class="lh-lg">
			<div class="row">
				<div class="container">
				<h1 class="h1 text-center mt-5">Terms and Conditions</h1>
				<ul>
					<li>1. Results will be based on the official declared result, as stated on <a href="https://NBA.com" target="_blank">NBA.com</a>.</li>
					<li>1.1 Results will be based on the official final score, overtime (an extension of normal time) included, unless otherwise specified.</li>
					<li>1.2 In the event that category statistics (ie steals, blocks, turnovers) are updated more than 12 hours after the conclusion of the game, In The Game will endeavour to find a fair resolution, but ultimately can choose the result at its discretion.</li>
					<li>1.3 In The Game will endeavours to provide an error free experience for all members, but may, on occasions, update incorrect results - we are human after all. In this case when it is drawn to our attention, we will ensure all results are paid out and results are fair and accurate.</li>
					<li>1.4 In The Game reserves the right to (acting in good faith) exercise its discretion to void, cancel, restrict or otherwise alter or adjust the outcome of a game in extreme circumstances. This will of course be announced to the community via standard communication methods.</li>
					<li>2. All entries must be completed approximately 10 mins before the start of the first NBA game on that day. Any entries submitted after this time will be excluded.</li>
					<li>2.1 Any person or persons found to be manipulating entries, falsifying entry methods or generally acting in bad faith, will not be eligible for any prizes. The final decision for what constitutes “acting in bad faith” will ultimately lay with the In The Game team, but consultation with the In The Game Community will also occur.</li>
					<li>3. A Member may own multiple NFTs (memberships), but all must be linked to the same Top Shot Account.</li>
					<li>3.1 Any Top Shot moments won will be sent to the Top Shot account linked to the membership. Under no circumstances will a Top Shot moment be sent to an alternate account.</li>
					<li>4. In The Game reserves the right to substitute, change, remove or add the games and game types at its discretion. However, this will always be communicated to the In The Game community prior.</li>
					<li>5. In the event there is more than one winner of a particular game, unless otherwise specifically stated, cash prizes will be shared between the winners.</li>
					<li>6. Prizes will be sent within 7 days and will be published on the website. Proof that prizes were sent will also be displayed.</li>
					<li>7. In The Game operates a "sprit of the game" policy and as such reserves the right to pause games or prize distributions for individuals who intentionally manipulate results outside of the intent in which the games were designed. All significant decisions will be made with consultation with community.</li>
					<li>8. A member may own an unlimited number of NFT's, but the maximum number of entries per game per membership is 25.</li>
				</ul>

				</div>
			</div>
		</div>
	</main>
`;