export default `

<div class="d-flex align-content-center" data-bss-parallax-bg="true" id="intro-section" style="background-image: url(assets/img/bg1.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;">
            <div class="container lh-lg">
                <h1 class="h1">Page Heading</h1>
                <h1 class="h2">Page Heading</h1>
                <h1 class="h3">Page Heading</h1>
                <h1 class="h4">Page Heading</h1>
                <h1 class="h6">Page Heading</h1>

                <p class="lh-lg">Paragraph Text Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu dolor, euismod ac lacus vel, tincidunt mollis libero. Vestibulum mattis ullamcorper tincidunt. Quisque gravida suscipit egestas. Donec eget condimentum libero. Nunc auctor ex porta, iaculis turpis non, luctus elit. Nulla convallis efficitur consequat. Donec eu massa magna. Sed quis vestibulum lorem.</p>
                
                <figure> 
                    <blockquote class="blockquote"> 
                        <p>Block Quote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p> 
                    </blockquote>                     

                    <figcaption class="blockquote-footer">                    Someone famous in <cite title="Source Title">Source Title</cite> 
                    </figcaption>                     
                </figure>
                
                <button type="button" class="btn btn-light">Button</button>
                
                <p><a href="#">Link</a></p>
                
                <h4>Pagination</h4>
                <ul class="pagination pagination-sm"> 
                    <li class="page-item">
                        <a class="my-pagination page-link" href="#">Previous</a>
                    </li>                     

                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>                     

                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>                     

                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>                     

                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>                     
                </ul>
                <div class="row">
                    <div class="col-md-4">
                        <h3>Column title</h3> 
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
                    </div>
                    <div class="col-md-4">
                        <h3>Column title</h3> 
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
                    </div>
                    <div class="col-md-4">
                        <h3>Column title</h3> 
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
                    </div>
                </div>
            </div>
            <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Modal Title</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>The content of your modal.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="button">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="d-flex d-lg-flex align-items-lg-center" style="padding-top: 70px;">
            <div class="container-md d-flex flex-column">
                <div class="align-items-start justify-content-center row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xl-3 row-cols-xxl-3">
</div>
            </div>
        </section>
        <section>
            <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Modal Title</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>The content of your modal.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="button">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

`;